// TODO
.bannerContainer {
  margin: 0 auto;
  max-width: 1440px;
  img {
    max-width: 100%;
    height: 400px;
  }
}

.content {
  margin: 5rem auto;

  h1 {
    font-size: 3rem;
    font: 600;
  }
}

.postContent {
  margin: 4rem auto;
  text-align: justify;
}
