.container {
  h2 {
    color: var(--heading);
    font-weight: 600;

    transition: color 0.2s;
  }
  p {
    font-size: 1rem;
    color: var(--body);
  }

  .postInfoContainer {
    margin-top: 1.5rem;
    display: flex;
    color: var(--info);

    .postInfo {
      display: flex;
      align-items: center;
      font-size: 0.9rem;

      time {
        margin-right: 1.5rem;
      }

      time,
      span {
        margin-left: 0.5rem;
      }
    }
  }

  & + .container {
    margin-top: 3rem;
  }

  &:hover {
    h2 {
      color: var(--highlight);
    }
  }
}
